<html>
  <head>
    <title>Pi Garage Door Opener</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/styles.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="header">
      <a href="#" class="text">Pi Garage Door Opener</a>
      <div class="header-right">
        <a class="active" href="/logout">Logout</a>
      </div>
    </div>
    <div class="row">
      <div class="column" style="background-color:#ccc">
        <p style="font-size:25px; text-align:center;">{{ message }}</p>
        <p style="font-size:25px; text-align:center;">The current sensor distance is {{ distance }} centimeters.</p>
      </div>
      <div class="column" style="background-color:#ddd">
        <p style="font-size:25px; text-align:center;">Trigger the garage door opener.</p>
        <div style="text-align: center; display:block; float:none;">
          <a class="active" href="/open-garage">{{ OpenOrClose }}</a>
        </div>
      </div>
    </div>
    <div class="header" style="padding: 10px 10px;">
      <p style="text-align:center;">Made with &#10084;&#65039; by <a class="none" href="https://www.yeetpc.com/about.html" target="_blank">Ravi Shah</a></p>
    </div>
  </body>
</html>
