<html>
  <head>
    <title>Pi Garage Door Opener</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/styles.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="header">
      <a href="#" class="text">Pi Garage Door Opener</a>
      <div class="header-right">
        <a class="active" href="/logout">Logout</a>
      </div>
    </div>
  </body>
</html>
